In [ ]:
# Author: Catarina DeMatos
# Date: 20200224
# CS301-006, Professor Watson
# HW04 Solution
# Coronavirus dataset
# link to the git repo (https://github.com/catdematos98/HW04)
# https://github.com/catdematos98/HW02/blob/master/HW_04_CatarinaDeMatos.ipynb
# name-of-the-branch (master)

In [1]:
import pandas as pd
import numpy as np

#1
def  get_percent_nans(df, column_name):
    colSize = df.shape[0]
    empty = df.loc[df[column_name].isna()]
    emptySize = empty.shape[0]
    return (emptySize/colSize) * 100

In [2]:
data_dir = 'C:\\Users\\CAT\\Desktop\\Python'
file_name = data_dir + '\\2019_nCoV_20200121_20200206.csv'
my_df = pd.read_csv(file_name)
for col in my_df.columns:
    print('The \"{}\" column has {:.2f}% empty values'.format(col, get_percent_nans(my_df, col)))

The "Province/State" column has 24.45% empty values
The "Country/Region" column has 0.00% empty values
The "Last Update" column has 0.00% empty values
The "Confirmed" column has 1.60% empty values
The "Suspected" column has 95.31% empty values
The "Recovered" column has 46.67% empty values
The "Death" column has 53.22% empty values

In [3]:
#2
sorted_death = my_df.sort_values(by=['Death'], ascending=False)
sorted_death.iloc[0]['Country/Region']

'Mainland China'

In [4]:
#3
sorted_death = my_df.sort_values(by=['Suspected'], ascending=False)
sorted_death.iloc[0]['Country/Region']

'Hong Kong'

In [5]:
#4
sorted_countries = my_df.sort_values(by=['Country/Region'], ascending=True)
country_groups = sorted_countries.groupby('Country/Region')
country_means = country_groups['Recovered'].agg(np.mean).sort_values(ascending=False)
list(country_means[country_means==4.5].index)[0]

'Thailand'

In [6]:
#5, 6
d={}
def get_continent(argument): 
    switcher = { 
        "Australia": "Australia",
        "Belgium": "Europe",
        "Brazil": "South America",
        "Cambodia": "Asia",
        "Belgium": "Europe",
        "Canada": "North America",
        "Colombia": "South America",
        "Finland": "Europe",
        "France": "Europe",
        "Germany": "Europe",
        "Hong Kong": "Asia",
        "India": "Asia",
        "Italy": "Europe",
        "Ivory Coast":  "Africa",
        "Japan": "Asia",
        "Macau": "Asia",
        "Mainland China":  "Asia",
        "Malaysia":  "Asia",
        "Mexico": "South America",
        "Philippines": "Asia",
        "Nepal": "Asia",
        "Russia": "Asia",
        "Singapore": "Asia",
        "South Korea": "Asia",
        "Spain": "Europe",
        "Sri Lanka": "Asia",
        "Sweden": "Europe",
        "Thailand":  "Asia",
        "Taiwan":  "Asia",
        "UK": "Europe",
        "United Arab Emirates":"Asia",
        "United States":  "North America",
        "Vietnam": "Asia",
    } 
    return switcher[argument] 

print(get_continent("UK"))

Europe

In [7]:
#7
my_df['Continent'] = my_df.apply (lambda row: get_continent(row.loc["Country/Region"]), axis=1)
my_df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia
...,...,...,...,...,...,...,...,...
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN,Asia
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN,Asia
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN,Asia
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN,Asia
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN,North America

In [8]:
#8
continent_groups = my_df.groupby('Continent')
confirmed_by_continent = continent_groups['Confirmed'].sum()
confirmed_by_continent

Continent
Africa                1.0
Asia             304984.0
Australia           238.0
Europe              395.0
North America       273.0
South America         0.0
Name: Confirmed, dtype: float64